<div class="content row">
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="sidebar-item">
            <a class="title" href="/manager/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home d-none" aria-hidden="true"></i>
                Trang chủ
            </a>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right d-none"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down"><i class="fas fa-angle-down"></i> </span>
                Quản lý người liên quan
            </div>
            <ul class="list">
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item active">
                    <a class="d-block" href="/manager/addUser"><i class="fas fa-user"></i> Thêm tài khoản</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý s.phẩm / n.y.phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item ">
                    <a class="d-block" href="/manager/product"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/productEdit"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý gói nhu yếu phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item ">
                    <a class="d-block" href="/manager/package"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/packageEdit"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Thống kê thông tin
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/chartStatusByTime"><i class="fa fa-users" aria-hidden="true"></i> Lượng người trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/chartStatusChange"><i class="fa fa-random"></i> Số chuyển trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/chartPackage"><i class="fa fa-shopping-cart"></i> Tiêu thụ gói nhu yếu phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/chartProduct"><i class="fa fa-shopping-basket"></i> Tiêu thụ sản phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/chartDept_Payment"><i class="fa fa-credit-card"></i> Dư nợ, thanh toán</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý thanh toán
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/changeMinPayment"><i class="fa fa-list-alt" aria-hidden="true"></i> Thay đổi hạn mức thanh toán tối thiểu</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/sendPaymentNotification"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Duyệt danh sách và gửi thông báo nhắc thanh toán</a>
                </li>
            </ul>
        </div>
    </div>
    {{!-- end sidebar --}}

    <div class="col-9" style="flex:1;">
        <div class="section general-information">
            <h1 class="mx-5 mb-5"><i class="fas fa-user"></i> Thêm tài khoản cho người liên quan đến covid-19</h1>
            <form id="addUser" autocomplete="off" action="/manager/addUser" method="post">
                <div class="card card-bg mb-3 text-dark">
                    <div class="card-body w-100">
                        <h1>Thông tin tài khoản : <b class="text-danger">{{AccountError}}</b></h1>
                        {{#with AccountData}}
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="username" style="width: 15%;">User
                                Name</label>
                            <input type="text" id="username" name="username"
                                class="form-control text-form text-location-form" placeholder="username"
                                style="width: 85%;" autocomplete="new-username" value="{{username}}">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="password"
                                style="width: 15%;">Password</label>
                            <input id="password" name="password" 
                                class="form-control text-form text-location-form" placeholder="Mật khẩu"
                                style="width: 85%;" autocomplete="new-password" value="0" readonly>
                        </div>
                        {{/with}}
                    </div>
                </div>
                <div class="card card-bg mb-3 text-dark">
                    <div class="card-body w-100">
                        <h1>Thông tin cơ bản: <b class="text-danger">{{UserError}}</b></h1>
                        {{#with UserData}}
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="P_FullName" style="width: 15%;">Họ và
                                tên</label>
                            <input id="P_FullName" name="P_FullName" type="text"
                                class="form-control text-form text-location-form" placeholder="Họ và tên"
                                style="width: 85%;" value="{{P_FullName}}">
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="P_IdentityCard"
                                style="width: 15%;">CMND/CCCD</label>
                            <input id="P_IdentityCard" name="P_IdentityCard" type="number"
                                class="form-control text-form text-location-form"
                                placeholder="Chứng minh dân nhân / Căn cước công dân" style="width: 40%;" value="{{P_IdentityCard}}">
                            <label class="input-group-text text-form" for="P_YearOfBirth" style="width: 10%;">Năm
                                sinh</label>
                            <input id="P_YearOfBirth" name="P_YearOfBirth" type="number"
                                class="form-control text-form text-location-form" placeholder="Năm sinh"
                                style="width: 15%;" value="{{P_YearOfBirth}}">
                            <label class="input-group-text text-form" for="P_Status" style="width: 10%;">Trạng
                                thái</label>
                            <select class="form-select text-form" id="P_Status" name="P_Status" style="width: 10%;">
                                <option class="text-form" value="F0" selected>F0</option>
                                <option class="text-form" value="F1" {{#ifStr P_Status 'F1'}}selected{{/ifStr}}>F1</option>
                                <option class="text-form" value="F2" {{#ifStr P_Status 'F2'}}selected{{/ifStr}}>F2</option>
                                <option class="text-form" value="F3" {{#ifStr P_Status 'F3'}}selected{{/ifStr}}>F3</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text text-form" for="P_Address" style="width: 15%;">Địa chỉ nơi ở</label>
                            <select class="form-select text-form" id="Province" name="Province" style="width: 28%;" onchange="changeProvince(value);" disabled>
                                <option class="text-form" value="" selected disabled>Tỉnh Thành</option>
                            </select>
                            <select class="form-select text-form" id="District" name="District" style="width: 28%;" onchange="changeDistrict(value);" disabled>
                                <option class="text-form" value="" selected>Quận Huyện</option>
                            </select>
                            <select class="form-select text-form" id="Ward" name="Ward" style="width: 28%;" disabled>
                                <option class="text-form" value="" selected>Phường Xã</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="P_Address" style="width: 15%;">Thêm chi tiết</label>
                            <input id="P_Address" name="P_Address" type="text" class="form-control text-form"
                                    placeholder="Số nhà, đường . . ." style="width: 85%;" value="{{P_Address}}">
                        </div>

                        {{/with}}
                        {{#with HospitalData}}
                        <div class="input-group">
                            <label class="input-group-text text-form" for="P_HospitalAddress" style="width: 15%;">Nơi
                                đang điều trị</label>
                            <div class="form-control form-control-dark text-form search-packet no-gutter"
                                style="width: 55%;" id="inputOutline">
                                <input name="location" autocomplete="off" type="text" id="searchBarTreatPlace"
                                    class="form-control search-input" placeholder="Vị trí điều trị / thu nạp" value="{{hospitalData}}" onfocus="resetForLocationBar()">
                                <input name="P_HospitalAddress" type="number" id="IDsearchBarTreatPlace" value="{{IDHospital}}" hidden>
                                <ul class="search-menu" id="menuBarTreatPlace" style="z-index: 10;"></ul>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                <div class="card card-bg mb-3 text-dark">
                    <div class="card-body w-100">
                        <h1>Tìm người liên đới (nếu có): </h1>
                        <div class="input-group mb-3">
                            <label class="input-group-text text-form" for="username" style="width: 15%;">Tên người liên
                                đới</label>
                            <div class="form-control form-control-dark text-form search-packet no-gutter"
                                style="width: 55%;" id="inputOutline">
                                {{#with RelateData}}
                                <div class="d-inline-block" style="width: 100%; height: 100%; position: relative;">
                                    <input name="relate" autocomplete="off" type="text" id="searchBarRelate"
                                        class="form-control search-input" placeholder="Người liên đới" value="{{relateData}}" onfocus="resetForRelateBar()"
                                        {{#ifStr Lock 'on'}}disabled{{/ifStr}}>
                                    <input name="P_RelateGroup" type="number" id="IDsearchBarRelate" value="{{IDGroup}}" hidden>
                                </div>
                                {{/with}}
                                <ul class="search-menu" id="menuBarRelate"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="w-100 text-center">
                <button type="submit" form="addUser" class="btn btn-success w-25 text-center"
                    style="font-size: 1.5em;">Tạo tài khoản</button>
            </div>
        </div>
    </div>
</div>