<div class="content row">
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="sidebar-item">
            <a class="title" href="/manager/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home d-none" aria-hidden="true"></i>
                Trang chủ
            </a>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right d-none"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down"><i class="fas fa-angle-down"></i> </span>
                Quản lý người liên quan
            </div>
            <ul class="list">
                <li class="list-item active">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/addUser"><i class="fas fa-user"></i> Thêm tài khoản</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý s.phẩm / n.y.phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item active">
                    <a class="d-block" href="/manager/product"><i class="fa fa-list-ul"></i> Danh sách </a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/product"><i class="fas fa-user"></i> ...</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-random"></i> Thay đổi trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý gói nhu yếu phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/package"><i class="fas fa-home"></i> Danh sách gói nhu yếu
                        phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Tìm kiếm gói nhu yếu phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Hậu</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Tìm kiếm gói nhu yếu
                        phẩm</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Thống kê thông tin
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý thanh toán
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
    </div>
    {{!-- end sidebar --}}

    <div class="col-9" style="flex:1;">
        <div class="section general-information">
            <h1 class="mx-5 mb-2 d-flex">
                <div class="me-auto" style="width: 50%;">
                    <i class="fa fa-list-ul"></i> Danh sách người liên quan đến covid-19
                </div>
                <div class="ms-auto" style="width: 40%;">
                    <form action="/manager/listUser" method="get" id="formList">
                        <div class="input-group mb-3">
                            <select class="form-select" name="sort" style="font-size: 0.8em;">
                                <option value="" selected>Không sắp xếp...</option>
                                <option value="P_FullName" {{#ifStr sort 'P_FullName'}}selected{{/ifStr}}>Full Name</option>
                                <option value="P_Identity" {{#ifStr sort 'P_Identity'}}selected{{/ifStr}}>ID Card</option>
                                <option value="P_YearOfBirth" {{#ifStr sort 'P_YearOfBirth'}}selected{{/ifStr}}>BirthYear</option>
                                <option value="P_Address" {{#ifStr sort 'P_Address'}}selected{{/ifStr}}>Address</option>
                                <option value="P_Status" {{#ifStr sort 'P_Status'}}selected{{/ifStr}}>Status</option>
                                <option value="P_TreatmentPlace" {{#ifStr sort 'P_TreatmentPlace'}}selected{{/ifStr}}>Hospital</option>
                            </select>
                            <select class="form-select" name="order" style="font-size: 0.8em;">
                                <option value="" selected>Ngẫu nhiên...</option>
                                <option value="ASC" {{#ifStr order 'ASC'}}selected{{/ifStr}}>Tăng dần</option>
                                <option value="DESC" {{#ifStr order 'DESC'}}selected{{/ifStr}}>Giảm dần</option>
                            </select>
                            <input type="number" id="page" value="{{currentPageNumber}}" name="page" hidden>
                            <button type="submit" class="btn btn-success" style="font-size: 0.8em;">Sắp xếp</button>
                        </div>
                    </form>
                </div>
            </h1>
            <div class="card bg-info mb-3 text-light">
                <div class="row card-body h-100">
                    <span class="col-2 border-end border-dark border-2"><b>Full Name</b></span>
                    <span class="col-1 border-end border-dark border-2 text-center"><b>Id Card</b></span>
                    <span class="col-1 border-end border-dark border-2 text-center"><b>BirthYear</b></span>
                    <span class="col-4 border-end border-dark border-2"><b>Address</b></span>
                    <span class="col-1 border-end border-dark border-2 text-center"><b>Status</b></span>
                    <span class="col-3"><b>Hospital Address</b></span>
                </div>
            </div>

            {{#each users}}
            <div class="card mb-1 user-card" onclick="window.location='/manager/detail/UserID={{this.P_ID}}'">
                <div class="row card-body h-100" style="min-height: 70px;">
                    <span class="col-2 border-end border-dark border-1"> {{this.P_FullName}}</span>
                    <span class="col-1 border-end border-dark border-1 text-center">{{this.P_IdentityCard}}</span>
                    <span class="col-1 border-end border-dark border-1 text-center">{{this.P_YearOfBirth}}</span>
                    <span class="col-4 border-end border-dark border-1">{{this.P_Address}}</span>
                    <span class="col-1 border-end border-dark border-1 text-center">{{this.P_Status}}</span>
                    <span class="col-3">{{this.P_TreatmentPlace}}</span>
                </div>
            </div>
            {{/each}}

            <nav aria-label="Page navigation mt-5">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item">
                        <button type="submit" form="formList" onclick="submit(0, -1)"
                                style="font-size: 1.5em;" class="page-link" aria-label="Previous" {{#ifStr Previous 'off'}}disabled{{/ifStr}}>
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    {{#each pages}}
                    <li class="page-item">
                        <button type="submit" form="formList" onclick="submit({{this.pageNumber}})"
                                style="font-size: 1.5em;" class="page-link" >{{this.pageNumber}}</button>
                    </li>
                    {{/each}}
                    <li class="page-item">
                        <button type="submit" form="formList" onclick="submit(0, 1)"
                                style="font-size: 1.5em;" class="page-link" aria-label="Next" {{#ifStr Next 'off'}}disabled{{/ifStr}}>
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>