<div class="content row">
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="sidebar-item">
            <a class="title" href="/manager/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home d-none" aria-hidden="true"></i>
                Trang chủ
            </a>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right d-none"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down"><i class="fas fa-angle-down"></i> </span>
                Quản lý người liên quan
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/addUser"><i class="fas fa-user"></i> Thêm tài khoản</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý s.phẩm / n.y.phẩm
            </div>
            <ul class="list ">
               <li class="list-item ">
                    <a class="d-block" href="/manager/product"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                {{!-- <li class="list-item">
                    <a class="d-block" href="/manager/"><i class="fas fa-search-plus"></i> Tìm kiếm</a>
                </li> --}}
                <li class="list-item active">
                    <a class="d-block" href="/manager/productEdit"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý gói nhu yếu phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item ">
                    <a class="d-block" href="/manager/package"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                {{!-- <li class="list-item">
                    <a class="d-block" href="/manager/sanpham"><i class="fas fa-search-plus"></i> Tìm kiếm</a>
                </li> --}}
                <li class="list-item">
                    <a class="d-block" href="/manager/"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Thống kê thông tin
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý thanh toán
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
    </div>
 {{!-- end sidebar --}}
    <div class="col-9" >
        <h1>Chỉnh sửa gói nhu yếu phẩm</h1>
        <h1 class="mt-4 mb-4 text-danger">{{Package.P_Name}}</h1>
        <form action="/manager/packageEdit/{{Package.P_ID}}/edit?_method=PUT"  method="post">
            <input type="hidden" name="P_ID" value="{{Package.P_ID}}">
            <div style="font-size: 2rem;" class="input-group mb-3">
                <span style="font-size: 2rem; width:15%;" class="input-group-text" id="basic-addon1">Tên gói</span>
                <input  name="P_Name" style="font-size: 2rem;" type="text" required class="form-control" placeholder="Tên gói" aria-label="Username" aria-describedby="basic-addon1" value="{{Package.P_Name}}">
            </div>
            <div style="font-size: 2rem;" class="input-group mb-3">
                <span style="font-size: 2rem; width:15%;" class="input-group-text" id="basic-addon1">Giới hạn mua</span>
                <input name="P_Limit" style="font-size: 2rem;" type="text" required class="form-control" placeholder="Giới hạn mua" aria-label="Username" aria-describedby="basic-addon1" value="{{Package.P_Limit}}">
                
            </div>
            <div style="font-size: 2rem;" class="input-group mb-3">
                <span style="font-size: 2rem; width:15%;" class="input-group-text" id="basic-addon1">Hình ảnh</span>
                <input name="P_Image" style="font-size: 2rem;" type="text" required class="form-control" placeholder="Hình ảnh" aria-label="Username" aria-describedby="basic-addon1" value="{{Package.P_Image}}">
                
            </div>
            <div style="font-size: 2rem;" class="input-group mb-3">
                <span style="font-size: 2rem; width:15%;" class="input-group-text" id="basic-addon1">Đã bán</span>
                <input name="P_SoldQuantity" style="font-size: 2rem;" type="text" required class="form-control" placeholder="Đã bán" aria-label="Username" aria-describedby="basic-addon1" value="{{Package.P_SoldQuantity}}">
                
            </div>
            <div  style="font-size: 2rem;" class="input-group mb-5">
                  <label style="font-size: 2rem; width:15%;" class="input-group-text" for="inputGroupSelect01">Loại gói</label>
                    <select name="P_Type" style="font-size: 2rem;" class="form-select" id="inputGroupSelect01">
                        <option selected value="Thuốc men">Thuốc men</option>
                        <option value="Thực phẩm">Thực phẩm</option>
                    </select>
                
            </div>

            <h2>Danh sách sản phẩm trong gói</h2>

            {{#each Products}}
            <input type="hidden" name="P_ProductsID" value="{{this.P_ProductsID}}">
            <div style="font-size: 2rem;" class="input-group mt-5">
                <span style="font-size: 2rem; width:15%;" class="input-group-text bg-dark text-white" id="basic-addon1">Tên sản phẩm</span>
                <input style="font-size: 2rem;" name="Product_List"  type="text" required class="form-control" placeholder="Đã bán" aria-label="Username" aria-describedby="basic-addon1" value="{{this.Product_List}}">
            </div>
            <div style="font-size: 2rem;" class="input-group mb-5">
                <span style="font-size: 2rem; width:15%;" class="input-group-text bg-secondary text-white" id="basic-addon1">Giới hạn mua</span>
                <input style="font-size: 2rem;" name="Product_Limit" type="text" required class="form-control" placeholder="Đã bán" aria-label="Username" aria-describedby="basic-addon1" value="{{this.Product_Limit}}">
            </div>
                
            {{/each}}

            <button type="submit" style="font-size: 2.3rem;" class="btn btn-primary px-2" >Cập nhật</button>

        </form>
    </div>
    

</div>