 
<div class="content row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                        Thông tin cá nhân
                    </div>
                    <ul class="list d-none">
                        <li class="list-item general-information ">
                            <a href="/user/{{user.P_ID}}/infor" class="d-block" ><i class="fas fa-user"></i> Thông tin chung</a>
                        </li>
                        <li class="list-item password">
                            <a href="/user/{{user.P_ID}}/pwd" class="d-block"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="list-item managed-history">
                            <a href="/user/{{user.P_ID}}/mHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử được quản lý</a>
                        </li>
                        <li class="list-item accountbalance">
                            <a href="/user/{{user.P_ID}}/accBal" class="d-block"><i class="fas fa-search-dollar"></i> Số dư tài khoản</a>
                        </li>
                        <li class="list-item deposit">
                            <a href="/user/{{user.P_ID}}/debt" class="d-block"><i class="fas fa-dollar-sign"></i> Quản lý dư nợ</a>
                        </li>
                        <li class="list-item paid-history">
                            <a href="/user/{{user.P_ID}}/pHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
                        Nhu yếu phẩm
                    </div>
                    <ul class="list d-none">
                         <li class="list-item packet">
                            <a href="/user/{{user.P_ID}}/package" class="d-block">
                                <i class="fas fa-list"></i> Danh sách các gói
                            </a>
                        </li>
                        <li class="list-item buy-history">
                            <a href="/user/{{user.P_ID}}/bHistory" class="d-block">
                                <i class="fas fa-history"></i> Lịch sử mua hàng
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-9" style="flex:1;">
                <div class="section deposit">
                    <div class="section-title">
                        Dư nợ
                    </div>
                    <div class="section-content mt-4 ">
                        <div class="information">
                            <div class="fs-2">Thời hạn thanh toán:  <span style="font-weight: 500;"> Sep Sat Thu 25:44:33</span></div>
                            <div class="fs-2">Hạn mức thanh toán tối thiểu:  <span style="font-weight: 500;"> 200000đ</span></div>
                            <div class="fs-2">Số tiền đang nợ:  <span style="font-weight: 500;"> 200000đ</span></div>
                            <div class="fs-2">Đã thanh toán:  <span style="font-weight: 500;"> 200000đ</span></div>
                                <form action="">
                                    <div class="mb-3 mt-4" style="margin-bottom: 2rem!important;">
                                        <label for="money" class="form-label" style="font-weight: 500;">Số tiền nạp</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" name="money" id="money" placeholder="Số tiền nạp tối thiểu: 50000đ" style="padding:.6rem; font-size:1.4rem">
                                            <span class="input-group-text">đ</span>
                                        </div>
                                    </div>
                                    <div class="mb-3" style="float: right;">
                                        <button type="button" type="submit" class="btn submit" >Nạp tiền</button>
                                    </div>
                            
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            
</div>