 <div class="content row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                        Thông tin cá nhân
                    </div>
                    <ul class="list d-none">
                        <li class="list-item general-information ">
                            <a href="/user/{{user.P_AccountID}}/infor" class="d-block" ><i class="fas fa-user"></i> Thông tin chung</a>
                        </li>
                        <li class="list-item password">
                            <a href="/user/{{user.P_AccountID}}/pwd" class="d-block"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="list-item managed-history">
                            <a href="/user/{{user.P_AccountID}}/mHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử được quản lý</a>
                        </li>
                        <li class="list-item accountbalance">
                            <a href="/user/{{user.P_AccountID}}/accBal" class="d-block"><i class="fas fa-search-dollar"></i> Số dư tài khoản</a>
                        </li>
                        <li class="list-item deposit">
                            <a href="/user/{{user.P_AccountID}}/deposit" class="d-block"><i class="fas fa-dollar-sign"></i> Nạp tiền</a>
                        </li>
                        <li class="list-item paid-history">
                            <a href="/user/{{user.P_AccountID}}/pHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
                        Nhu yếu phẩm
                    </div>
                    <ul class="list d-none">
                         <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-list"></i> Danh sách các gói
                            </a>
                        </li>
                        <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-history"></i> Lịch sử mua hàng
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-9" style="flex:1;">
                <div class="section general-information">
                    <div class="section-title">
                       Thông tin chung
                    </div>
                    <div class="section-content mt-4">
                        <div class="avatar text-center ">
                            <div class="avatar-wrapper text-center">
                                <img class="profile-pic" src="https://static.cdnno.com/user/default/200.jpg" />
                            </div>
                        </div>
                        <div class="information">
                            <form action="">
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="username" class="form-label" style="font-weight: 500;">Tên tài khoản</label>
                                    <input type="text" class="form-control" name="username" id="username" value="{{account.username}}" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="fullname" class="form-label" style="font-weight: 500;">Họ và tên</label>
                                    <input type="text" class="form-control" name="fullname" id="fullname" value="{{user.P_FullName}}" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="idcard" class="form-label" style="font-weight: 500;">CMND/CCCD</label>
                                    <input type="text" class="form-control" name="idcard" id="idcard" value="{{user.P_IdentityCard}}"readonly  style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="birthdate" class="form-label" style="font-weight: 500;">Năm sinh </label>
                                    <input type="text" class="form-control" id="birthdate" name="birthdate" value="{{user.P_YearOfBirth}}"readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="address" class="form-label" style="font-weight: 500;">Địa chỉ</label>
                                    <input type="text" class="form-control" name="address" id="address" value="{{user.P_Address}}" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="status" class="form-label" style="font-weight: 500;">Trạng thái hiện tại</label>
                                    <input type="text" class="form-control" name="address" id="address" value="{{user.P_Status}}" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="quarantineaddress" class="form-label" style="font-weight: 500;">Nơi đang điều trị / cách ly</label>
                                    <input type="text" class="form-control" name="quarantineaddress" id="quarantineaddress" value="{{user.P_HospitalAddress}}" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>

                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="relatedpeople" class="form-label" style="font-weight: 500;">Danh sách người liên quan</label>
                                    <!-- <input type="text" class="form-control" name="quarantineaddress" id="quarantineaddress" value="123 Đường 456, P. 789, Q10, TP HCM" readonly style="padding:.6rem; font-size:1.4rem"> -->
                                    {{#each relatedPeople}}
                                        <div class="d-flex my-3">
                                            <input type="text" class="form-control d-inline-block me-4" id="" value="{{this.P_FullName}}" readonly style="padding:.6rem; font-size:1.4rem; flex:3;">
                                            <input type="text" class="form-control d-inline-block" id="" value="{{this.P_Status}}" readonly style="padding:.6rem; font-size:1.4rem; flex:1;">
                                        </div>
                                    {{/each}}
                                </div>
                            </form>
                        </div>
                    </div>
</div>
            </div>
            
        </div>