
<div class="content row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                        Thông tin cá nhân
                    </div>
                    <ul class="list d-none">
                        <li class="list-item general-information ">
                            <a href="/user/{{user.P_AccountID}}/infor" class="d-block" ><i class="fas fa-user"></i> Thông tin chung</a>
                        </li>
                        <li class="list-item password">
                            <a href="/user/{{user.P_AccountID}}/pwd" class="d-block"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="list-item managed-history">
                            <a href="/user/{{user.P_AccountID}}/mHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử được quản lý</a>
                        </li>
                        <li class="list-item accountbalance">
                            <a href="/user/{{user.P_AccountID}}/accBal" class="d-block"><i class="fas fa-search-dollar"></i> Số dư tài khoản</a>
                        </li>
                        <li class="list-item deposit">
                            <a href="/user/{{user.P_AccountID}}/deposit" class="d-block"><i class="fas fa-dollar-sign"></i> Nạp tiền</a>
                        </li>
                        <li class="list-item paid-history">
                            <a href="/user/{{user.P_AccountID}}/pHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
                        Nhu yếu phẩm
                    </div>
                    <ul class="list d-none">
                         <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-list"></i> Danh sách các gói
                            </a>
                        </li>
                        <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-history"></i> Lịch sử mua hàng
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-9" style="flex:1;">
                <div class="section managed-history ">
                    <div class="section-title">
                        Lịch sử được quản lý
                    </div>
                    <div class="section-content mt-4 ">
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Tình trạng sức khỏe hiện tại của bạn được cập nhập thành: F0 </p>
                            <div class="Datetime ms-5">
                                <div class="text-center">10:30</div>
                                <div class="text-center">1/12/2021 </div>
                            </div>
                        </div>
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Tình trạng sức khỏe hiện tại của bạn được cập nhập thành: Đã khỏi bệnh.  </p>
                            <div class="Datetime ms-5">
                                <div class="text-center">10:30</div>
                                <div class="text-center">31/12/2021 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
</div>