  <div class="content">
           <div class="container-fluid" style="background-color: white;">
                <div class="row">
                    <div class="col-5">
                        <div class="big-img mb-4">
                            <img class="big" src="{{currPackage.P_Image}}" alt="" style="width: 100%; min-height:400px; max-height: 500px;">
                        </div>
                        <ul class="img-list d-flex" style="padding: 0;">
                           <div class="row">
                                <li class="col-3"> 
                                    <img class="small" src="{{currPackage.P_Image}}" alt="" style="width: 120px; height: 120px; ">
                                </li>
                                {{#each productsInPackage}}
                                <li class="col-3"> 
                                    <img class="small" src="{{this.Product_Image}}" alt="" style="width: 120px; height: 120px; ">
                                </li>
                                {{/each}}
                            </div>
                        </ul>
                    </div>
                    <div class="col-7">
                       <form action="/user/package/{{currPackage.P_ID}}" method="post">
                        <div class="packet-title mb-4">
                            <div class="box">AntiCovid+</div>  {{currPackage.P_Name}}
                        </div>

                        <ul class="products-list mb-4" style="padding: 0; font-size: 2rem;"> Bao gồm:
                            {{#each productsInPackage}}
                            <li class="product">
                                <div class="row">
                                    <div class="col-7 product-desc ">
                                       <a href="/user/product/{{this.Product_ID}}">
                                            <div class="d-inline-block">
                                                <img src="{{this.Product_Image}}" alt="" class="me-2" style="width: 60px; height: 60px;">    
                                            </div>
                                            <div class="d-inline-block " style="width:32rem;">
                                                {{this.Product_Name}} : {{this.Product_Price}}đ/{{this.Product_Unit}} 
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-5 product-quantity ">
                                        Số lượng: <input class="input{{this.Product_ID}}" name="input" onkeydown="return false" type="number" min="1" max="{{this.Product_Limit}}" value="1"> tối đa {{this.Product_Limit}} {{this.Product_Unit}} 
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>

                        <ul class="bill mb-4" style="padding: 0; font-size: 2rem;"> Đơn hàng:
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 2kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        25000đ x 2 = <span class="text-orange">50000đ</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        -> Tổng cộng: 
                                    </div>
                                    <div class="col-6 product-quantity">
                                        <span class="text-orange mx-4">150000đ</span>
                                    </div>
                                </div>
                            </li>
                           
                           
                        </ul>
                        
                        <div class="buy">
                            <div class="btn guarantee">AntiCovid đảm bảo</div>
                            <div class="d-inline-block">
                                <button class="btn buy-btn">Mua ngay</button>
                            </div>
                        </div>
                       </form>
                        
                    </div>
                </div>
           </div>
        </div>