<div class="content row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                        Thông tin cá nhân
                    </div>
                    <ul class="list d-none">
                        <li class="list-item general-information ">
                            <a href="/user/{{user.P_ID}}/infor" class="d-block" ><i class="fas fa-user"></i> Thông tin chung</a>
                        </li>
                        <li class="list-item password">
                            <a href="/user/{{user.P_ID}}/pwd" class="d-block"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="list-item managed-history">
                            <a href="/user/{{user.P_ID}}/mHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử được quản lý</a>
                        </li>
                        <li class="list-item accountbalance">
                            <a href="/user/{{user.P_ID}}/accBal" class="d-block"><i class="fas fa-search-dollar"></i> Số dư tài khoản</a>
                        </li>
                        <li class="list-item deposit">
                            <a href="/user/{{user.P_ID}}/deposit" class="d-block"><i class="fas fa-dollar-sign"></i> Nạp tiền</a>
                        </li>
                        <li class="list-item paid-history">
                            <a href="/user/{{user.P_ID}}/pHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
                        Nhu yếu phẩm
                    </div>
                    <ul class="list d-none">
                         <li class="list-item packet">
                            <a href="/user/{{user.P_ID}}/package" class="d-block">
                                <i class="fas fa-list"></i> Danh sách các gói
                            </a>
                        </li>
                        <li class="list-item buy-history">
                            <a href="/user/{{user.P_ID}}/bHistory" class="d-block">
                                <i class="fas fa-history"></i> Lịch sử mua hàng
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-9" style="flex:1;">
                <div class="section paid-history ">
                    <div class="section-title">
                        Lịch sử thanh toán
                    </div>
                    <div class="section-content mt-4 ">
                    {{#each paidbills}}
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--7 me-5 fs-3">
                                Thanh toán đơn hàng {{this.B_ID}}</span> <br>
                                {{#each this.B_Products}}
                                    + {{this}} <br>
                                {{/each}}
                            </p>
                            <div class="">
                                <div class="remainedmoney d-inline-block mx-5" style="min-width:12rem;">
                                    <div class="text-center">Tổng số tiền:</div>
                                    <div class="text-center"><span class="text-orange">{{this.B_Totalpayment}}đ</div>
                                </div>
                                <div class="Datetime d-inline-block ms-5">
                                    <div class="text-center">{{this.B_PaymentTime}}</div>
                                    <div class="text-center">{{this.B_PaymentDate}}</div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            
</div>