 
<div class="content row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                        Thông tin cá nhân
                    </div>
                    <ul class="list d-none">
                        <li class="list-item general-information ">
                            <a href="/user/{{user.P_AccountID}}/infor" class="d-block" ><i class="fas fa-user"></i> Thông tin chung</a>
                        </li>
                        <li class="list-item password">
                            <a href="/user/{{user.P_AccountID}}/pwd" class="d-block"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="list-item managed-history">
                            <a href="/user/{{user.P_AccountID}}/mHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử được quản lý</a>
                        </li>
                        <li class="list-item accountbalance">
                            <a href="/user/{{user.P_AccountID}}/accBal" class="d-block"><i class="fas fa-search-dollar"></i> Số dư tài khoản</a>
                        </li>
                        <li class="list-item deposit">
                            <a href="/user/{{user.P_AccountID}}/deposit" class="d-block"><i class="fas fa-dollar-sign"></i> Nạp tiền</a>
                        </li>
                        <li class="list-item paid-history">
                            <a href="/user/{{user.P_AccountID}}/pHistory" class="d-block"><i class="fas fa-history"></i> Lịch sử thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-item">
                    <div class="title">
                        <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                        <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
                        Nhu yếu phẩm
                    </div>
                    <ul class="list d-none">
                         <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-list"></i> Danh sách các gói
                            </a>
                        </li>
                        <li class="list-item ">
                            <a href="#" class="d-block">
                                <i class="fas fa-history"></i> Lịch sử mua hàng
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-9" style="flex:1;">
                <div class="section password ">
                    <div class="section-title">
                       Đổi mật khẩu
                    </div>
                    <div class="section-content mt-4">
                        <div class="information">
                            <form action="/user/{{user.P_AccountID}}/pwd" method="post">
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="current-password" class="form-label" style="font-weight: 500;">Mật khẩu hiện tại</label>
                                    <input type="password" class="form-control" id="current-password" style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="new-password" class="form-label" style="font-weight: 500;">Mật khẩu mới </label>
                                    <input type="password" class="form-control" id="new-password" style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="confirm-password" class="form-label" style="font-weight: 500;">Xác nhân mật khẩu mới</label>
                                    <input type="password" class="form-control" id="confirm-password"  style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="float: right;">
                                    <button type="button" type="submit" class="btn submit" >Cập nhật</button>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
</div>