<div class="content">
            <div class="container-fluid" style="background-color: white;">
                 <div class="row">
                     <div class="col-5">
                         <div class="big-img mb-4">
                            <img src=" {{currProduct.Product_Image}}" alt="" style="width: 100%; min-height:400px; max-height: 500px;">
                         </div>
                         <ul class="img-list d-flex" style="padding: 0;">
                             {{#each currProduct.Product_Image}}
                                <li class="d-inline-block me-3"> 
                                    <img src="{{this}}" alt="" style="width: 120px; height: 120px; ">
                                </li>
                             {{/each}}
                         </ul>
                     </div>
                     <div class="col-7">
                         <div class="packet-title mb-4">
                             <div class="box">AntiCovid+</div>     {{ currProduct.Product_Name}}
                         </div>
                         
                         <p class="mb-3 mx-4 fs-2"> Giá:  {{ currProduct.Product_Price}}đ/ {{ currProduct.Product_Unit}}</p>

                         <p class="mb-3 mx-4 fs-2"> Giới thiệu:</p>
                         <p class="mb-3 mx-5 fs-4 text-ellipsis--21"> 
                                 {{currProduct.Product_Intro}}
                         </p>
                     </div>
                 </div>
            </div>
        </div>