<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    {{#each css}}
       <link rel="stylesheet" href="/css/user/{{this}}.css">
    {{/each}}
    <title>AntiCovid_UserPage</title>
</head>
<body>
    <div class="main">
         <header id="header">
            <div class="container-xl">
                <div class="searchbar">               
                    <div class="searchbar-item">
                        <a href="#" class="logo"><h1>Anti<span style="color: #F18121;">Covid</span></h1></a>
                    </div>
                    <div class="searchbar-item search-packet d-lg-flex">
                        <div class="d-inline-block" style="width: 100%; height: 100%; position: relative;">
                            <input type="text" id="searchBar" class="form-control search-input" placeholder="Bạn cứ nhập từ khóa, còn lại để SimplePoLL lo nè">
                            <div class="search-select-btn"><i class="fas fa-search"></i></div>
                        </div>
                        <ul class="search-menu">
                            {{!-- <li class="">
                                <a href="#" class="">
                                    Gói A
                                </a> 
                            </li>
                            <li class="">
                                <a href="#" class="">
                                    Gói B
                                </a> 
                            </li>  --}}
                        </ul>
                    </div>
                    <div class="searchbar-item ">
                        <div class="searchbar-btn notification-btn">
                                <a href="#">
                                    <span><i class="fas fa-bell"></i></span>
                                    <span class="notification-badge"> {{notPaidBills.length}}</span>
                                </a>
                                <ul class="notification-menu d-none">
                                    {{#each notPaidBills}}
                                        <li class="d-flex ">
                                            <a href="./bHistory" class="notification-content text-ellipsis--3">
                                            Bạn có đơn hàng {{this.B_ID}} chờ thanh toán
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                        </div>
                        <div class="searchbar-btn Dropdown">
                            <a href="#" >   
                                <i class="fas fa-history"></i>
                                <div class="droplist droplist-normal">
                                    <li class="border-bottom"><a href="/user/{{user.P_ID}}/mHistory">Lịch sử quản lý</a></li>
                                    <li class="border-bottom"><a href="/user/{{user.P_ID}}/bHistory">Lịch sử mua nhu yếu phẩm</a></li>
                                    <li class="border-bottom"><a href="/user/{{user.P_ID}}/pHistory">Lịch sử thanh toán</a></li>
                                </div>
                            </a>
                        </div>
                        <div class="searchbar-btn Dropdown">
                            <a href="#">   
                                <div class="user">
                                    <i class="fas fa-user-circle"></i>
                                    <span class="user-name">User</span>
                                </div>
                                <div class="droplist droplist-normal">
                                    <li>
                                        <form action="/logout?_method=DELETE" method="post">
                                            <button type="submit" class="btn btn-logout" style="font-weight:500; font-size:1.6rem;">
                                                Đăng xuất
                                            </button>
                                        </form>
                                    </li>
                                </div>
                            </a>
                        </div>
                    
                    </div>
                </div>
            </div>
        </header>

        {{{body}}}
        

        <footer id="footer">
            <div class="social-list">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="copy-right"> 
                Đồ án cuối kì môn Phát triển ứng dụng Web <br>
                Maded by <a href="#">19120479 - 19120502 - 19120564 - 19120595</a>
            </p>
        </footer>
      
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script type="text/javascript">
        let packages = [];
        let products = [];
        let currPackageID = {{currPackage.P_ID}};
        let currPackage;
        let temp;
        let p ;

        {{#each listOfPackages}}
            p = [];
            {{#each this.P_ProductsID}}
                p.push({{this}})
            {{/each}}
            temp = {
                P_ID : `{{this.P_ID}}`,
                P_Name: `{{this.P_Name}}`,
                P_ProductsID: p,
            }
            packages.push(temp)
        {{/each}}
        {{#each listOfProducts}}
            temp = {
                    Product_ID : `{{this.Product_ID}}`,
                    Product_Name: `{{this.Product_Name}}`,
                    Product_Price: `{{this.Product_Price}}`,
                    Product_Unit: `{{this.Product_Unit}}`,
                }
            products.push(temp)
        {{/each}}

        currPackage = packages[currPackageID-1];

    </script>

    {{#each js}}
       <script type="text/javascript" src="/js/user/{{this}}.js"></script>
    {{/each}}

    
</body>
</html>